<script>
  function setFullname() {
    document.getElementById("fullname").value = "Hello";
  }
</script>

<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" bgcolor="#F4F7F7" width="100%">
        <table cellspacing="0" cellpadding="0" width="100%">
          <tbody>
            <tr>
              <td style="background:#F4F7F7" width="100%">
                <center>
                  <table cellspacing="0" cellpadding="0" width="100%" style="max-width:600px">
                    <tbody>
                      <tr>
                        <td valign="top" style="background:#F4F7F7;padding:10px 10px 10px 20px">
                          <img src="https://i.upanh.org/2020/10/26/logo1.png" width="120" height="120" alt="eTutor"
                            class="CToWUd" /> </a>
                        </td>
                        <td valign="top" style="background:#F4F7F7;padding:10px 15px 10px 10px">
                          <table border="0" cellpadding="0" cellspacing="0" align="right">
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </center>
              </td>
            </tr>
            <tr>
              <td style="background:#3F51B5" width="100%">
                <center>
                  <table cellspacing="0" cellpadding="10" width="100%" style="max-width:600px">
                    <tbody>
                      <tr>
                        <td style="background:#3F51B5;color:#ffffff;font-weight:bold;font-size:16px">
                          Dear <%-fullname%>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </center>
              </td>
            </tr>
            <tr>
              <td style="color:#282828">
                <center>
                  <table cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                    <tbody>
                      <tr>
                        <td align="left" style="padding:20px">
                          <div> <%-content%> </div>
                          <div> <%-closing%> </div>
                          <div> <%-regard%> </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </center>
              </td>
            </tr>
    </tr>

    <tr>
      <td valign="top" style="background-color:#3F51B5">
        <center>
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
            <tbody>
              <tr>
                <td valign="top" style="padding:20px">
                  <table cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="padding-top:15px;padding-right:20px;color:#e9e9e9">
                          <b>TRƯỜNG ĐẠI HỌC FPT</b> Add: Lô E2a-7, Đường D1
                          Khu Công nghệ cao, P.Long Thạnh Mỹ, Q.9, TP.HCM
                          <br />Tell: (028) 73005588
                          <br />Unsubscribe
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
